.block-container {
    padding-top: 0rem;
}

[data-testid="stSidebar"] > div:first-child {
    padding-top: 0rem;
}

@keyframes pulse {
  0% { transform: scale(0.95); }
  50% { transform: scale(1.05); }
  100% { transform: scale(0.95); }
}

div[data-testid="stImage"] > img {
  animation: pulse 2s ease-in-out infinite;
}
